.list{
    color:#fff;
    width: 300px;
    background-color: #009688 ;
    height: 50px;
    margin:20px auto;
    border-radius: 5px;

}
.list p{
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;

}
.faicons{
    margin: 0 5px;
    font-size: 15px;

}
.complete{
    background-color:#BB8FCE;
    text-decoration: line-through;
}